{
  "docker": {
    "username": "",
    "password": ""
  },
  "aws": {
    "accessKey": "",
    "secretKey": "",
    "accountId": "",
    "ecr": {
      "private": {
        "region": "",
        "profile": ""
      },
      "public": {
        "arn": ""
      }
    }
  }
}
